In [1]:
from  google.colab import drive
drive.mount('/content/drive')
from datascience import *

Mounted at /content/drive

In [2]:
import pandas as pd
titanic_df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/titanic_individuals.csv")

In [3]:
titanic_df = titanic_df.dropna(subset=['Age'])
titanic_df = titanic_df[['PClass', 'Age', 'Survived', 'Sex']]
titanic_df['SexCode'] = titanic_df['Sex'].map({'female': 1, 'male': 0})
print(titanic_df.head())

  PClass    Age  Survived     Sex  SexCode
0    1st  29.00         1  female        1
1    1st   2.00         0  female        1
2    1st  30.00         0    male        0
3    1st  25.00         0  female        1
4    1st   0.92         1    male        0

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

# Step 1: Data Cleaning and Formatting
titanic_df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/step2_titanic_df.csv")
titanic_df = titanic_df.dropna(subset=['Age'])
titanic_df = titanic_df[['PClass', 'Age', 'Survived', 'SexCode']]
# titanic_df['SexCode'] = titanic_df['SexCode'].map({'female': 1, 'male': 0})

# Step 2: Calculating Percent Survival Rates and Plotting
survival_rates = titanic_df.groupby(['PClass', 'SexCode'])['Survived'].mean() * 100
survival_rates.unstack().plot(kind='bar', stacked=True)
survival_rates

plt.title('Survival Rates by Passenger Class and Gender')
plt.xlabel('Passenger Class')
plt.ylabel('Survival Rate (%)')
plt.xticks(rotation=0)
plt.legend(['Female', 'Male'], title='Sex', loc='upper left')
plt.show()